form{
  color: #dfa000;
  background-color: #646264;
  padding: 10px;
}
label {
  padding: 2px;
  font-weight: bold;
}
button {
  background-color: #dfa000;
  color: #f2ebe4;
}
button:hover {
  color: #F9d31a;
}
