<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-3">
      <div class="card">
        <!-- badge for total lent/rented out/money -->
        <div class="card border-dark mb-3">
          <h5 class="card-header text-white bg-warning">User Name</h5>
          <div class="card-horizontal">
            <div class="img-square-wrapper">
              <img class="" src="https://bit.ly/2MpfRrz" alt="Card image cap" />
            </div>
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text ">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <button data-toggle="collapse" data-target="#demo">
                Collapsible
              </button>

              <div id="demo" class="collapse">
                Lorem ipsum dolor text....
              </div>
            </div>
          </div>
          <div class="card-footer text-white bg-warning">Footer Footer</div>
        </div>
      </div>
    </div>
    <!-- <button class="accordion">Section 1</button>
              <div class="panel">
                <p>Lorem ipsum...</p>
              </div>

              <button class="accordion">Section 2</button>
              <div class="panel">
                <p>Lorem ipsum...</p>
              </div>

              <button class="accordion">Section 3</button>
              <div class="panel">
                <p>Lorem ipsum...</p>
              </div>
            </div>
          </div> -->
  </div>
</div>
