<div class="userpage container-fluid">
  <div class="row">
    <div class="col-fluid">
      <div class="card">
        <!-- badge for total lent/rented out/money -->
        <h3 class="card-header text-white bg-warning">
          <span class="badge badge-pill badge-dark m-2">User Name</span>
          <span class="badge badge-pill badge-dark float-right m-2"
            >Tool Count/Money Earned
          </span>
        </h3>
        <div class="card-horizontal">
          <div class="img-square-wrapper">
            <img class="" src="https://bit.ly/2MpfRrz" alt="Card image cap" />
          </div>
          <div class="card-body">
            <h4 class="card-title"></h4>
            <!-- {{loggedInUser.username  }} -->
            <!-- {{loggedInUser.firstname}} -->
            <!-- {{selected.lastname}} -->
            <!-- {{selected.firstname}} -->
            <p class="card-text ">
              Some quick example text to build on the card title
              andfkjsdhfkdhsfhsdjkfhsdakljfhsdkjfhsdkjfhsklfhsld make up the
              bulk the card's content. fdadsffsdfffsdsdfNeeds to have enough
              text to fill screen
            </p>
          </div>
        </div>
        <div class="card-footer text-white bg-warning">Footer Footer</div>
      </div>
    </div>
  </div>
</div>
<!-- <button
  mdbBtn
  class="btn btn-elegant btn-block"
  type="button"
  (click)="rentals.toggle()"
  mdbWavesEffect
>
  Tools I Have Currently Lent Out
</button>
<div class="" mdbCollapse #rentals="bs-collapse">
  <p>Tools I am currently renting</p>
  <p>A list of tools currently checked out</p>
</div> -->
<button
  mdbBtn
  class=" btn btn-elegant btn-block"
  type="button"
  (click)="MyTransactions.toggle(); getLoggedInUserTransactions()"
  mdbWavesEffect
>
  My Transaction History
</button>
<div class="userpage" mdbCollapse #MyTransactions="bs-collapse">
  <div id="listToolRentals" *ngIf="!selected">
    <table *ngIf="!selected" class="table table-striped table-dark">
      <thead class="thead thead-dark">
        <tr>
          <td align="left">Tool Name</td>
          <td align="left">Tool Owner</td>
          <td align="left">Tool Something</td>
          <td align="left">Checked out</td>
          <td align="left">Returned</td>
          <td align="left">Total Cost</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let toolTransaction of toolTransactions">
          <!-- <td>{{ toolTransaction.toolName }}</td> -->
          <td></td>
          <td></td>
          <td></td>
          <td>{{ toolTransaction.checkout }}</td>
          <td>{{ toolTransaction.returned }}</td>
          <td>{{ toolTransaction.totalCost }}</td>
          <app-update-tool-rental
            [toolRental]="toolTransaction"
          ></app-update-tool-rental>
          <app-delete-tool-rental
            [toolRental]="toolTransaction"
          ></app-delete-tool-rental>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<button
  mdbBtn
  class="btn btn-elegant btn-block"
  type="button"
  (click)="
    toolListDiv.toggle(); getLoggedInUserTools()
  "
  mdbWavesEffect
>
  My Toolbox
</button>
<div class="userpage" mdbCollapse #toolListDiv="bs-collapse">
  <div id="listMyTools">
    <table class="table table-striped table-dark">
        <thead class="dark text-warning">
            <tr>
           <td align="left"></td>
          <td align="left">Name</td>
          <td align="left">Type</td>
          <td align="left">Description</td>
          <td align="left">Condition</td>
          <td align="left">Cost Per Day</td>
          <td align="left">Available For Rent</td>
          <td align="left"></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let myTool of myTools">
          <div class="img-square-wrapper">
            <img class="img-thumbnail" [src]="myTool.photos[0].photoUrl" alt="Cinque Terre" width="300" height="300"alt="Card image cap"/>
          </div>
          <td>{{ myTool.name }}</td>
          <td>{{ myTool.type }}</td>
          <td>{{ myTool.description }}</td>
          <td>{{ myTool.condition }}</td>
          <td>{{ myTool.costPerDay }}</td>
          <td>{{ myTool.available }}</td>
          <td><button class="btn btn-warning text-dark relative waves-light">Edit</button></td>
          <!-- <td><button class="btn btn-amber relative waves-light">Edit</button></td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- *ngIf="!selected">  *ngIf="!selected" -->
