
.register:hover {
background-color:#36b051;
color:#fff;
}

.card-horizontal {
  width: 100%;
  padding: 0px;
  display: flex;
  flex: 1 1 auto;
}

.btn.collapse{
  background-color: #3D3B3D;
  color: #DFA000;
  font-weight: bold;
}

.body {
  width: 100%;
}
