<div style="text-align:center; background-color: #646264;">
<button type="button" class="btn relative waves-light" (click)="basicModal.show()" mdbRippleRadius>Add
  tool</button>
</div>

<div mdbModal #basicModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Add a tool</h4>
      </div>
      <div class="modal-body">
        <form #newTool="ngForm">
          <label>
            Name <input type="text" name="name" ngModel>
          </label>
          <br>
          <label>
            Description <input type="text" name="description" ngModel>
          </label>
          <br>
          <label>
            Type of tool  <input type="text" name="type" ngModel>
          </label>
          <br>
          <label>
             Year Manufactured <input type="text" name="manufactureYear" ngModel>
          </label>
          <br>
          <label>
             Condition <input type="text" name="condition" ngModel>
          </label>
          <br>
          <label>
             Cost <input type="number" name="costPerDay" ngModel>
          </label>
          <br>
          <button type="button" class="btn btn-secondary waves-light" aria-label="Close" (click)="basicModal.hide()"
            mdbRippleRadius>Close</button>
          <button type="button" class="btn relative waves-light" (click)="addTool(newTool); basicModal.hide();" mdbRippleRadius>Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
