<div class="container-fluid">
    <div class="row">
      <div class="col-fluid">
        <div class="card">
          <!-- badge for total lent/rented out/money -->
            <h3 class="card-header text-dark bg-warning"><span class="badge badge-pill badge-dark m-2"
              >Tool Name</span></h3>
            <div class="card-horizontal">
              <div class="img-square-wrapper">
                <img class="" src="http://bit.ly/31sp2f6" class="img-thumbnail" alt="Cinque Terre" width="250" height="250"alt="Card image cap" />
              </div>
              <div class="card-body">
                <h4 class="card-title"></h4>
                <p class="card-text ">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.  Needs to have enough text to fill screen width for alignment to match the header and footer
                </p>
              </div>
            </div>
            <div class="card-footer text-dark bg-warning">Footer Footer</div>
          </div>
        </div>
      </div>
  </div>

<div id="listToolRentals" *ngIf="!selected">
  <table *ngIf="!selected" class='table table-striped'>
    <thead class='thead thead-dark'>
      <tr>
        <td align='left'>Checked out</td>
        <td align='left'>Returned</td>
        <td align='left'>Total Cost</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let toolTransaction of toolTransactions">
        <td>{{ toolTransaction.checkout }}</td>
        <td>{{ toolTransaction.returned }}</td>
        <td>{{ toolTransaction.totalCost }}</td>
        <app-update-tool-rental [toolRental]="toolTransaction"></app-update-tool-rental>
        <app-delete-tool-rental [toolRental]="toolTransaction"></app-delete-tool-rental>
      </tr>
    </tbody>
  </table>
</div>
