.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
span {
  color: #3D3B3D;
  font-weight: bold;
}
.cost {
  float: right;
}
.year-made {
  float: right;
}
// .tool-name {
//   float: middle;
// }

