mat-grid-tile {
  background: #646264;
}

.btn.signUp {
  background-color: #DFA000;
  margin-top: 0px;
}

.seeAll {
  background-image: url("/assets/cover_tools.jpg");
}
.btn.seeAll {
  background-color: #3D3B3D;
  color: #DFA000;
  font-weight: bold;
}

a {
  color: #dfa000;
  font-weight: bold;
}

a:hover {
  color: #F9d31a;
  font-weight: bold;
}
