<div id="navbar-container" style="width: 100%;">

  <mdb-navbar id="navbar" SideClass="navbar navbar-expand-lg background-color: #3D3B3D">

    <mdb-navbar-brand>
      <a class="navbar-brand" href="#">
        <img src="#" height="30" class="d-inline-block align-top" alt="">
      </a>
    </mdb-navbar-brand>

    <links>
      <ul class="navbar-nav justify-content-start">
        <li class="nav-item">
          <a class="nav-link waves-light" [routerLink]="['/home']" routerLinkActive="router-link-active"
            mdbWavesEffect>Home</a>
        </li>
        <li *ngIf="!checkIfLoggedInUser()">
          <a class="nav-link waves-light " mdbWavesEffect [routerLink]="['/register']">Register</a>
        </li>
        <li *ngIf="checkIfLoggedInUser()">
          <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/user']">{{this.getUsername()}}</a>
        </li>

        <li *ngIf="!checkIfLoggedInUser()" class="nav-item dropdown" dropdown [autoClose]="false">
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <span class="caret flex-row-reverse">Login</span></a>
          <div *dropdownMenu class="dropdown-menu dropdown" role="menu">
            <app-login></app-login>
          </div>
        </li>

        <ul *ngIf="checkIfLoggedInUser()" class="navbar-nav ml-auto"></ul>
        <ul class="navbar-nav ml-auto" >
          <li *ngIf="checkIfLoggedInUser()">
            <app-logout></app-logout>
          </li>
        </ul>

      </ul>


    </links>


  </mdb-navbar>
</div>
