#navbar-container {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: #3D3B3D;
}
a {
  color: #dfa000;
  font-weight: bold;
}
a:hover {
  color: #F9d31a;
  font-weight: bold;
}
span {
  color: #dfa000;
}


